/* CSS Stylesheet */

/* Header */
#header {
    color:white;
    background-color:#226ba3
}

/* App Description */
#app-description {
   color: #226ba3
}

/* Search Bar */
#search-city {
    width: 100%;
    margin: 5px;
}

/* Search Button */
#search-button {
    width: 100%;
    display: inline-block;
    margin: 5px;
    padding: 5px;
    color: white;
    background-color: #226ba3;
}